.createRecipeIngredientsTable, .createRecipeInstructionTable
{
    width: 50%;
    font-size: small;
}

.createRecipeIngredientsTable button
{
    justify-content: space-around;
    align-items: center;
}

.editSelectedRecipeHeaderContainer
{
    display: grid;
    grid-template-columns: 1.00fr 1.00fr;
    grid-template-rows: 0.50fr 0.50fr;
    grid-template-areas: "editName editProtein"
                         "editCuisine editSource"
}

.editRecipeHeaderName
{
    grid-area: "editName";
    display: flex;
}

.editRecipeHeaderSource
{
    grid-area: "editSource";
    display: flex;
}

.editRecipeHeaderProtien
{
    grid-area: "editProtein";
    display: flex;
}

.editRecipeHeaderCuisine
{
    grid-area: "editCuisine";
    display: flex;
}

.ingredientInputContainer
{
    width: 50%;
    display: grid;
    grid-template-columns: 0.54fr 1.00fr 0.75fr 0.75fr 0.50fr;
    grid-template-areas: "ingLabel ingName ingQty ingMsr ingButt";
    column-gap: 0.5%;
}

.instructionInputContainer
{
    width: 50%;
    display: grid;
    grid-template-columns: 0.54fr 0.50fr 0.40fr 1.00fr 0.50fr;
    grid-template-areas: "insLabel insPhase insStep insAction insButt";
    column-gap: 0.5%;
}

.ingredientInputLabel
{
    grid-area: "ingLabel";
}

.ingredientNameInput
{
    grid-area: "ingName";
}

.ingredientQtyInput
{
    grid-area: "ingQty";
}

.ingredientMeasureInput
{
    grid-area: "ingMsr";
}

.addIngredientButton
{
    grid-area: "ingButt";
}

.instructionInputLabel
{
    grid-area: "insLabel";
}

.instructionPhaseSelection
{
    grid-area: "insPhase";
}

.instructionStepInput
{
    grid-area: "insStep";
}

.instructionActionInput
{
    grid-area: "insAction";
}

.addinstructionButton
{
    grid-area: "insButt";
}

.tableComponent
{
    width: 85%;
}

.trendingComponent
{
    width: 15%;
    padding-left: 0.25%;
}

.tableArea
{
    width: 90%;
}

table
{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th
{
    border: 1px solid #DDD;
    padding: 8px;
}

table tr:nth-child(even)
{
    background-color: #DFC8D8;
}

table tr:nth-child(odd)
{
    background-color: #F1F1F1;
}

table tr:hover
{
    background-color: #DDD;
}

table th
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #CCA0BF;
    color: black;
}

.editIngredientPopup
{
    height: 25%;
    width: 25%;
}

.editIngredientModal
{
    background-color: white;
    display: grid;
    grid-template-columns: 1.00fr 1.00fr;
    grid-template-rows: 1.00fr 1.00fr 1.00fr 1.00fr;
    grid-template-areas: "nameLabel" "nameInput"
                         "qtyLabel" "qtyInput"
                         "msrLabel" "msrInput"
                         "submit" "submit"
}

.editIngModalNameLabel
{
    grid-area: "nameLabel";
}

.editIngModalNameInput
{
    grid-area: "nameInput";
}

.editIngModalQuantityLabel
{
    grid-area: "qtyLabel";
}

.editIngModalQuantityInput
{
    grid-area: "qtyInput";
}

.editIngModalMeasurementLabel
{
    grid-area: "msrLabel";
}

.editIngModalMeasurementInput
{
    grid-area: "msrInput";
}

.editIngModalSubmitButton
{
    grid-area: "submit";
    display: flex;
    align-items: center;
    justify-content: center;
}

.removeIngredientModal, .editInstructionModal, .removeInstructionModal
{
    background-color: white;
}