.finalTable
{
    height: 100%;
    width: 100%;
}

.tableArea
{
    width: 90%;
}

.pagination
{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.tableFilters
{
    display: flex;
    justify-content: space-between;
}

.nameFilter
{
    width: 29.72%;
}

.proteinFilter
{
    width: 9.275%;
}

.cuisineFilter
{
    width: 10.835%;
}

.sourceFilter
{
    width: 20.81%;
}

.userFilter
{
    width: 29.38%;
}

table
{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th
{
    border: 1px solid #DDD;
    padding: 8px;
}

table tr:nth-child(even)
{
    background-color: #DFC8D8;
}

table tr:nth-child(odd)
{
    background-color: #F1F1F1;
}

table tr:hover
{
    background-color: #DDD;
}

table th
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #CCA0BF;
    color: black;
}