.createRecipeIngredientsTable, .createRecipeInstructionTable
{
    width: 50%;
    font-size: small;
}

.createRecipeIngredientsTable button
{
    justify-content: space-around;
    align-items: center;
}

.ingredientInputContainer
{
    width: 50%;
    display: grid;
    grid-template-columns: 0.54fr 1.00fr 0.75fr 0.75fr 0.50fr;
    grid-template-areas: "ingLabel ingName ingQty ingMsr ingButt";
    column-gap: 0.5%;
}

.instructionInputContainer
{
    width: 50%;
    display: grid;
    grid-template-columns: 0.54fr 0.50fr 0.40fr 1.00fr 0.50fr;
    grid-template-areas: "insLabel insPhase insStep insAction insButt";
    column-gap: 0.5%;
}

.ingredientInputLabel
{
    grid-area: "ingLabel";
}

.ingredientNameInput
{
    grid-area: "ingName";
}

.ingredientQtyInput
{
    grid-area: "ingQty";
}

.ingredientMeasureInput
{
    grid-area: "ingMsr";
}

.addIngredientButton
{
    grid-area: "ingButt";
}

.instructionInputLabel
{
    grid-area: "insLabel";
}

.instructionPhaseSelection
{
    grid-area: "insPhase";
}

.instructionStepInput
{
    grid-area: "insStep";
}

.instructionActionInput
{
    grid-area: "insAction";
}

.addinstructionButton
{
    grid-area: "insButt";
}