.browseRecipesPopup-content
{
    margin: auto;
    background: rgb(255, 255, 255);
    height: 90%;
    width: 90%;
    padding: 0.1%;
}

.browseRecipesPopup-arrow
{
    color: rgb(255, 255, 255);
}

[role='tooltip'].browseRecipesPopup-content
{
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.browseRecipesPopup-overlay
{
    background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].browseRecipesPopup-overlay
{
    background: transparent;
}

.viewRecipeContainer
{
    height: 100%;
    display: grid;
    grid-template-columns: 1.00fr 0.25fr;
    grid-template-rows: 0.10fr 1.00fr 1.00fr;
}

.viewRecipeModalButtons
{
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1.00fr 1.00fr 1.00fr 1.00fr;
}

.favoriteRecipeButtonLabel
{
    grid-column: 1;
    padding: 0.25%;
}

.favRecipeButtContainer
{
    height: 100%;
    width: 100%;
    padding: 0.25%;
    grid-column: 2;
    display: flex;
    justify-content: center;
}

.followCreatorButtonLabel
{
    grid-column: 3;
    padding: 0.25%;
}

.followCreatorButtContainer
{
    height: 100%;
    width: 100%;
    padding: 0.25%;
    grid-column: 4;
    display: flex;
    justify-content: center;
}

.emptyFavoriteRecipeButton
{
    height: 100%;
    width: 100%;
    background-image: url("../assets/redEmptyHeart.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.filledFavoriteRecipeButton
{
    height: 100%;
    width: 100%;
    background-image: url("../assets/redFilledHeart.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.emptyFollowCreatorButton
{
    height: 100%;
    width: 100%;
    background-image: url("../assets/blueEmptyHeart.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.filledFollowCreatorButton
{
    height: 100%;
    width: 100%;
    background-image: url("../assets/blueFilledHeart.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.viewRecipeHeader
{
    grid-column: 1;
    grid-row: 1;
    padding-bottom: 0.25%;
}

.viewRecipeIngredients
{
    grid-column: 1;
    grid-row: 2;
    padding-bottom: 0.25%;
    padding-right: 0.25%;
}

.viewRecipeInstructions
{
    grid-column: 1;
    grid-row: 3;
    padding-right: 0.25%;
}

.viewRecipeNotes
{
    grid-column: 2;
    grid-row: 2 / 4;
    border: 1px black solid;
}

.notesSectionHeader
{
    border-bottom: 1px gray dashed;
}

.notesSectionTitle, .notesSectionSubtitle
{
    display: flex;
    justify-content: center;
}

.notesSectionTitle
{
    font-weight: bold;
    font-size: larger;
}

.notePopup-content
{
    margin: auto;
    background: rgb(255, 255, 255);
    height: 60%;
    width: 60%;
    padding: 0.1%;
}

.notePopup-arrow
{
    color: rgb(255, 255, 255);
}

[role='tooltip'].notePopup-content
{
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.notePopup-overlay
{
    background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].notePopup-overlay
{
    background: transparent;
}