.createRecipeIngredientTable
{
    width: 50%;
    font-size: small;
}

.createRecipeIngredientTable button
{
    justify-content: space-around;
    align-items: center;
}

.ingredientInputContainer
{
    width: 50%;
    display: grid;
    grid-template-columns: 0.54fr 1.00fr 0.75fr 0.75fr 0.50fr;
    grid-template-areas: "label name qty msr butt";
    column-gap: 0.5%;
}

.ingredientInputLabel
{
    grid-area: "label";
}

.ingredientNameInput
{
    grid-area: "name";
}

.ingredientQtyInput
{
    grid-area: "qty";
}

.ingredientMeasureInput
{
    grid-area: "msr";
}

.addIngredientButton
{
    grid-area: "butt";
}