.App
{
  height: 100vh;
  width: 100%;
}

.appHeader
{
  height: 9.2%;
}

.appBody
{
  height: 84.0%;
}

.appFooter
{
  height: 6.8%;
}

.filterContainer
{
  width: 39%;
  display: flex;
  justify-content: space-around;
}

.trendingBoxContainer
{
  height: 100%;
  width: 100%;
}