.App
{
  height: 100vh;
  /* width: 100%; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:  "header header header header settings"
                        "nav filter filter trending trending"
                        "nav main main trending trending"
                        "footer footer footer footer footer"
}

.appHeader
{
  /* height: 9.2%; */
  grid-area: header;
}

.appBody
{
  /* height: 84.0%; */
  grid-area: main;
}

.appFooter
{
  /* height: 6.8%; */
  grid-area: footer;
}

.filterContainer
{
  /* width: 39%;
  display: flex;
  justify-content: space-around; */
  grid-area: filter;
}

.trendingBoxContainer
{
  /* height: 100%;
  width: 100%; */
  grid-area: trending;
} 