.pageHeaderContainer
{
    height: 100%;
    display: flex;
    background-color: #44749D;
}

.pageHeaderTitle
{
    height: 100%;
    width: 93.4%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.pageHeaderSettings
{
    height: 100%;
    width: 6.6%;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
}

.settingsNavButton
{
    height: 60%;
    width: 60%;
    background-image: url("./assets/gear-1119298_960_720.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.footer
{
    height: 100%;
    background-color: #C6D4E1;
}